.header-container {
    background: url("../assets/images/cover prisma web.jpg")
    no-repeat fixed center;
    background-size: cover;
}

.header-container {
    height: 600px;
    /* width: 100%; */
}