.item-number{
    display: flex;
}

.text-number{
    margin-left: 10px;
    width: 650px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #3B3B3B;
    font-size: 18px;
    font-weight: 400;

}

.text {
    margin-left: 10px;
    width: 650px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #3B3B3B;
    font-size: 18px;
    font-weight: 400;
}

.VISI {
    margin-left: 30px;
}

.MISI {
    margin-left: 30px;
}